body {
  height:  100vh;
  width: 100%;
  background-color: rgb(32, 32, 32);
  margin: 0 auto;
}
#root{
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  
}
main{
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
}